.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 5px 15px;
}

.item a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  
}

.item a.active {
  color: gold;
}

.item a.inactive {
  color:  white;
}

.item a:hover {
  color: gold;
  cursor: pointer;
} 